header{
    
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
  	background-attachment: fixed;
    
}
.logomain{
	float: left;
	width: 70px;
	height: auto;
    margin-top: 15px;
}
.dropdown-menu{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.dropdown-item{
    color: white;
}
.navbar-nav{
    display: flex;
    justify-content: center;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size:  70px;
}
.nav-item a{
    font-size: larger;
}

.expericeker{
    margin-top: 75px;
}

.subhead h2,h3{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}
.district{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/Districts/Thiruvananthapuram/1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
  	background-attachment: fixed;
}
.footcopy{
    color: black;
}
.subhead p{
	margin-left: 30px;
	margin-right: 30px;
	justify-content: center;
    margin-bottom: 30px;

}
.img2{
    margin-top: -15px;
	height: fit-content;
}
.img2 img{
	border-radius: 15px;

}
.mainattra img{
	border-radius: 8px;
	
}
.mainattra .margins{
	margin: 50px;
}
.dist1{
	display: flex;
	justify-content: center;
}
.col-6,.col-3{
	margin-bottom: 50px;
}